{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "consistent-return": 0
  }
}
